---
export const prerender = true;
import Header from '../components/header.astro';
import '../styles/global.css';
---
<html lang="en-US">
  <head>
    <title> Trevor Opiyo: About</title>
  </head>
  <Header/>
  <h3>About me, Trevor Opiyo</h3>
  <br/>
  <p style="text-align: center">Hello! My name is Trevor Opiyo and I am a software developer from Texas with a background in systems programming and Machine Learning.</p>
  <p style="text-align: center">You can find my work on <a href="https://github.com/Trevor-Opiyo" rel="prefetch">Github </a> or (if you prefer) <a href="https://gitlab.com" rel="prefetch"> Gitlab</a>, and my writing on this website or via rss feed.</p>
  <p style="text-align: center">Send me an <a href="mailto:trevor@trevoropiyo.com" rel="prefetch">email</a> to say hello.</p> 
</html>
