---
export const prerender = true;
import Header from '../components/header.astro';
import '../styles/global.css';
---
<html lang="en">
  <head>
    <title> Trevor Opiyo: Blog</title>
  </head>
  <Header/>
  <a href="/my-media-diet/" alt="My Media Diet Repository">
    <h3>Media Diet</h3>
  </a>
  <br/>
  <a href="/setting-up-my-website/" alt="My thoughts on creating a website">
    <h3>Setting Up My Website</h3>
  </a>
  <br/>
  <a href="/passmaker/" alt="A password generator for the terminal">
    <h3>Passmaker</h3>
  </a>
</html>
