---
export const prerender = true;
import Header from '../components/header.astro';
---
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Trevor Opiyo: trevropiyo.com</title>
    <link rel="icon" type="apple-touch-icon" href='profile.png' />
    <link rel="icon" type="image/png" href='profile.png' />
    <link rel="alternate" type="application/feed+json" href="/feed.json" />
    <link rel="alternate" type="application/json" href="/feed.json" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <Header/>
  <a href="/setting-up-my-website/" alt="My thoughts on creating a website" rel="prefetch">
    <h3>Setting Up My Website</h3>
  </a>
  <br />
  <a href="/passmaker/" alt="A password generator for the terminal" rel="prefetch">
    <h3>Passmaker</h3>
  </a>
</html>
