---
export const prerender = true;
---
<html lang="en-US">
  <head>
    <title href="/">Trevor Opiyo</title>
    <link rel="icon" type="apple-touch-icon" href="/profile.png" />
    <link rel="icon" type="image/png" href="/profile.png" />
    <link rel="alternate" type="application/json" href="/feed.json" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>

  <a href="/">
    <img src="/profile.png" alt="Trevor Opiyo" width="400" />
  </a>

  <br />

  <a href="/" alt="Trevor Opiyo">
    <h1>Trevor Opiyo</h1>
  </a>

  <br />

  <br />

  <br />

  <a href="/setting-up-my-website/" alt="My thoughts on creating a website">
    <h3>Setting Up My Website</h3>
  </a>

  <br />

  <a href="/passmaker/" alt="A password generator for the terminal">
    <h3>Passmaker</h3>
  </a>
</html>
