---
export const prerender = true;
import Header from '../components/header.astro';
import '../styles/global.css';
---
<html lang="en">
  <head>
    <title> Trevor Opiyo: trevropiyo.com</title>
  </head>
  <Header/>
</html>
