---
export const prerender = true;
import Header from '../components/header.astro';
import '../styles/global.css';
---
<html lang="en">
  <head>
    <title> Trevor Opiyo: My Media Diet</title>
  </head>
  <Header/>
  <h3>My Media Diet</h3>
  <br/>
  <p>
    I published
    <a href="https://gitlab.com/trevoropiyo/media_diet" title="My Media Diet" rel="prefetch-intent">a git repository</a>
    containing my current media consumption in order to track what I consume over time.
    2024 is Year zero.
  </p>
</html>
