---
export const prerender = true;
---
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title href="/">Trevor Opiyo</title>
    <link rel="icon" type="apple-touch-icon" href="/profile.png" />
    <link rel="icon" type="image/png" href="/profile.png" />
    <link rel="alternate" type="application/json" href="feed.json" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>

  <picture>
    <img src="/profile.png" alt="Trevor Opiyo profile photo" width="375" height="375" rel="prefetch" />
  </picture>

  <br />

  <a href="/" alt="Trevor Opiyo">
    <h1>Trevor Opiyo</h1>
  </a>

  <br />

  <br />

  <br />

  <h3>Setting Up My Website</h3>

  <p class="style">
    At the start of the summer I decided to build myself a website. It has
    become apparent to me that I needed a website for a few months now, but the
    infrastructure that I needed to build the site has only recently become
    available. There are three types of professional development in the computer
    science industry; networking, skills and accomplishments, and traditional
    professionalism. On my website, My LinkedIn represents my networking
    profile, my GitLab displays my general skills and accomplishments, and my
    Resume provides a traditional way to show my accomplishments. My hope is
    that this website will grow alongside my career and give me a way to reflect
    on my accomplishments thus far.
    <br />
    <br />
    <a href="https://marco.org" title="Marco Arment's Website" rel="prefetch"
      >Marco Arment's Website</a
    >
    and
    <a href="https://daringfireball.net" title="John Gruber's Website " rel="prefetch"
      >John Gruber's Website</a
    >
    both served as inspiration when creating my website. Both of these websites
    are well designed and give good insight in their respective developers. The
    websites are both
    <a
      href="https://en.wikipedia.org/wiki/Static_web_page"
      title="Static webpage Wikipedia Article"
      rel="prefetch"
      >static</a
    >, meaning that they are organized as a system of HTML and CSS files. These
    websites include little to no JavaScript and are not web apps. These
    websites run in every browser and are extremely light on system resources. I
    wanted to emulate this minimalistic approach to web design in my own
    website, which led to a number of benefits. My entire website is hosted and
    visible on
    <a
      href="https://gitlab.com/trevoropiyo/trevoropiyo.com"
      title="Trevor Opiyo's Website Repository on Gitlab"
      rel="prefetch"
      >a GitLab repository</a
    >
    and as changes are made to my website they are visible in my GitLab.
    Developers in the future can use the website as a reference, or even
    download the webpage to be viewed offline. All of these features made a
    static in the style of the two mentioned above the most obvious choice when
    designing my website.
    <br />
    <br />
    I settled on
    <a href="https://pages.cloudflare.com" title="Cloudflare Pages Website" rel="prefetch"
      >Cloudflare Pages</a
    >
    as my web hosting provider. Cloudflare provides a few features that place it
    above the competition with the most notable being built in security.
    Cloudflare pages comes with the ability to dictate connection types
    (SSL/TLS), the ability to mitigate DDOS attacks, and generally survey web
    analytics. This allows me to monitor my website for attacks and ensure a
    safe connection for people who view my site. Cloudflare also provides the
    ability to register domain names and deploy changes to my website from my
    GitLab repository automatically. This flexibility abstracts away many
    elements of the web development process while still providing security and a
    simple interface for deploying my site.
    <br />
    <br />
    I am very happy with the tools I chose to implement my website. The simple
    static nature of my website means that my website is accessible, loads
    quickly, and is easily and widely available. The Hosting provided by
    Cloudflare ensures entry level security and abstracts away the finicky
    details of server maintenance and website deployment. The inclusion of a
    GitLab Repository makes it easier to track changes in my website and serves
    as a resource for myself and future developers.
