---
export const prerender = true;
import profile from '../assets/profile.png';
import '../styles/global.css';
---
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="apple-touch-icon" href={profile} />
    <link rel="icon" type="image/png" href={profile} />
    <link rel="alternate" type="application/feed+json" href="/feed.json" />
    <link rel="alternate" type="application/json" href="/feed.json" />
  </head>
  <img src={profile.src} loading="lazy" alt="Trevor Opiyo Profile Photo"/>
  <br/>
  <a href="/" alt="trevoropiyo.com: Home Page" rel="prefetch-intent">
    <h1>
      Trevor Opiyo
    </h1>
  </a>
  <hr/>
  <body>
  <nav>
    <a href="/" alt="Home Page" rel="prefetch-intent">Home</a> &bull;
    <a href="/blog/" alt="Blog Page" rel="prefetch-intent">Blog</a> &bull;
    <a href="/about/" alt="About Page" rel="prefetch-intent">About</a>
  </nav>
  <hr/>
  <br/>
  </body>
</html>
