---
export const prerender = true;
---
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Trevor Opiyo: trevropiyo.com</title>
    <link rel="icon" type="apple-touch-icon" href="/profile.png" />
    <link rel="icon" type="image/png" href="/profile.png" />
    <link rel="alternate" type="application/feed+json" href="/feed.json" />
    <link rel="alternate" type="application/json" href="/feed.json" />
  </head>
  <a href="/">
    <picture>
      <img src="/profile.png" alt="Trevor Opiyo profile photo" width="375" height="375" href="/" rel="prefetch"/>
    </picture>
  </a>
  <br />
  <a href="/" alt="Trevor Opiyo" rel="prefetch">
    <h1 >
      Trevor Opiyo
    </h1>
  </a>
  <br />
  <br />
  <br />
</html>
