---
export const prerender = true;
---
<nav class="navigations">
  <ol>
    <li class="navigation"><a href="/">Home</a></li>
    <li class="navigation"><a href="/about/">About</a></li>
    <li class="navigation"><a href="/blog/">Blog</a></li>
  </ol>
</nav>
